import * as React from "react";

import { cn } from "@portfolio/ui";

export interface {{name}}Props extends React.HTMLAttributes<HTMLDivElement> {
    // TODO: Add component props
}

export const {{name}} = React.forwardRef<HTMLDivElement, {{name}}Props>(
    ({ className, ...props }, ref) => {
        return (
            <div
                ref={ref}
                className={cn("", className)}
                {...props}
            >
                {/* TODO: Implement {{name}} component */}
            </div>
        );
    },
);

{{name}}.displayName = "{{name}}";
